*,
*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: "Ubuntu-Bold", sans-serif;
  src: url("./assets/fonts/Ubuntu-Bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Ubuntu-Regular", sans-serif;
  src: url("./assets/fonts/Ubuntu-Regular.woff2");
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  color: #1e212c;
  font-family: "Ubuntu-Regular", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1240px;
}

img {
  max-width: 100%;
}

button {
  border: none;
}
